<a href="https://colab.research.google.com/github/EkaterinaBoRu/Seminar8/blob/main/%D0%94%D0%97%E2%84%9610_%D1%81%D1%82%D0%B0%D1%82.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Задание

Провести дисперсионный анализ для определения того, есть ли различия среднего роста среди взрослых футболистов, хоккеистов и штангистов. Даны значения роста в трех группах случайно выбранных спортсменов: Футболисты: 173, 175, 180, 178, 177, 185, 183, 182. Хоккеисты: 177, 179, 180, 188, 177, 172, 171, 184, 180. Штангисты: 172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170.

In [15]:
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

In [31]:
y1 = np.array([173, 175, 180, 178, 177, 185, 183, 182], dtype=np.int64)
y2 = np.array([177, 179, 180, 188, 177, 172, 171, 184, 180], dtype=np.int64)
y3 = np.array([172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170], dtype=np.int64)

In [26]:
k = 3
n = 28

In [32]:
y_mean_1 = np.mean(y1)
y_mean_1

179.125

In [33]:
y_mean_2 = np.mean(y2)
y_mean_2

178.66666666666666

In [34]:
y_mean_3 = np.mean(y3)
y_mean_3

172.72727272727272

In [37]:
total = np.concatenate([y1, y2, y3])
total

array([173, 175, 180, 178, 177, 185, 183, 182, 177, 179, 180, 188, 177,
       172, 171, 184, 180, 172, 173, 169, 177, 166, 180, 178, 177, 172,
       166, 170])

In [39]:
y_mena_total = np.mean(total)
y_mena_total

176.46428571428572

Сумма квадратов отклонений наблюдений от общего среднего

In [40]:
np.sum((total - 176.46)**2)

830.9647999999999

Сумма квадратов отклонений средних групповых значений от общего среднего

In [41]:
S_f = np.sum((y_mean_1 - 176.46)**2)*8 + np.sum((y_mean_2 - 176.46)**2)*9 + np.sum((y_mean_3 - 176.46)**2)*11
S_f

253.90798181818207

Остаточная сумма квадратов отклонений

In [42]:
S_ost = np.sum((y1 - y_mean_1)**2) + np.sum((y2 - y_mean_2)**2)+ np.sum((y3 - y_mean_3)**2)
S_ost

577.0568181818182

In [43]:
253.90798181818207 + 577.0568181818182

830.9648000000003

In [44]:
D_f = S_f/(k-1)
D_f

126.95399090909103

In [45]:
D_ost = S_ost/(n-k)
D_ost

23.08227272727273

In [46]:
F_n = 126.95399090909103/23.08227272727273
F_n

5.500064591087222

In [47]:
f = stats.f_oneway(y1, y2, y3)
f

F_onewayResult(statistic=5.500053450812596, pvalue=0.010482206918698694)

При α =  0.05, k-1= 2, n-k= 25 табличное значение критерия Фишера равно 3.38. Расчетное значение 5.5 попадает в область принятия альтернативной гипотезы H1.То есть делаем вывод, что есть различия между указанными в условии задачи ростом представителями разных видов спорта.
Pvalue<a, делаем вывод в пользу альтернативной гипотезы.