<a href="https://colab.research.google.com/github/EkaterinaBoRu/Seminar8/blob/main/%D0%94%D0%97%E2%84%961_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Задание 2
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [35]:
def summ_products (**kwargs):
  for key, value in kwargs.items():
    print(f'{key}: {value}')
  print(f'Total products: {sum(kwargs.values())}')

In [36]:
summ_products(apple = 5, watermelon = 2, pear = 4)

apple: 5
watermelon: 2
pear: 4
Total products: 11

## Задание 3

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [46]:
wrong_costs = [100, 125, -90, 345, 655, -1, 0, 200]

In [47]:
new_costs = [i for i in wrong_costs if i>=0]
new_costs

[100, 125, 345, 655, 0, 200]

In [50]:
print (sum(new_costs))

1425

## Задание 4

Даны два списка.
Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1
Найдите, какая выручка у компании в ноябре.
Используйте list comprehensions

In [51]:
date_purchase = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

In [52]:
summ_of_date = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [55]:
i_november = [i if '2021-10-31'< i< '2021-12-01' else 0 for i in date_purchase ]
i_november

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 '2021-11-29',
 0,
 '2021-11-26',
 0,
 0,
 '2021-11-09',
 '2021-11-23',
 0,
 0,
 0,
 0,
 0,
 '2021-11-01',
 '2021-11-09',
 0,
 0,
 0,
 0,
 0,
 '2021-11-09',
 0,
 0,
 0]

In [67]:
n_list = [(summ_of_date[i])
           for i in range(len(summ_of_date))
           for j in range(len(i_november))
           if i == j and i_november[i] != 0]
print(sum(n_list))

25098

### 4.2
Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [80]:
def dict_new (list_date: list, list_products: list) -> dict:
    dict_Month = {}
    for i in range(len(list_date)):
        if list_date[i].split('-')[1] in dict_Month.keys():
            dict_Month[list_date[i].split('-')[1]] += list_products[i]
        else:
            dict_Month[list_date[i].split('-')[1]] = list_products[i]
    return dict_Month

In [81]:
dict_new(date_purchase, summ_of_date)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}