<a href="https://colab.research.google.com/github/EkaterinaBoRu/Seminar8/blob/main/%D0%94%D0%97%E2%84%963_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Задача 1
1.1 Скачать данные по ссылке https://www.kaggle.com/datasets/ionaskel/laptop-prices.
Считать данные с помощью pandas.
Вывести на экран первые 5 строк.
1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома.
Если реновации дома не было, то в новом признаке поставьте 0.
1.3 Создайте признаки года продажи, месяца продажи.
1.4 Удалите признаки date, zipcode, lat, long.

In [1]:
import pandas as pd

### 1.1

In [2]:
df = pd.read_csv('/content/kc_house_data.csv')

In [3]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21611 non-null  float64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(6), int64(14), object(1)
memory usage: 3.5+ MB

### 1.2

In [5]:
df['delta_renovated']= df['yr_renovated'] - df['yr_built']
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650,-1955
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639,40
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062,-1933
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000,-1965
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503,-1987

In [6]:
df.loc[df['delta_renovated']<0]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650,-1955
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062,-1933
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000,-1965
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503,-1987
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,3890.0,1530,2001,0,98053,47.6561,-122.005,4760,101930,-2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,1530.0,0,2009,0,98103,47.6993,-122.346,1530,1509,-2009
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,2310.0,0,2014,0,98146,47.5107,-122.362,1830,7200,-2014
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,1020.0,0,2009,0,98144,47.5944,-122.299,1020,2007,-2009
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,1600.0,0,2004,0,98027,47.5345,-122.069,1410,1287,-2004
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,1020.0,0,2008,0,98144,47.5941,-122.299,1020,1357,-2008

In [7]:
df.loc[df['delta_renovated']<0, 'delta_renovated']

0       -1955
2       -1933
3       -1965
4       -1987
5       -2001
         ...
21608   -2009
21609   -2014
21610   -2009
21611   -2004
21612   -2008
Name: delta_renovated, Length: 20699, dtype: int64

In [8]:
df.loc[df['delta_renovated']<0, 'delta_renovated'] = 0
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650,0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639,40
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062,0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000,0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503,0

### 1.3

In [9]:
df['year_date'] = pd.to_datetime(df['date']).dt.year
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,year_date
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,1955,0,98178,47.5112,-122.257,1340,5650,0,2014
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,400,1951,1991,98125,47.7210,-122.319,1690,7639,40,2014
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,0,1933,0,98028,47.7379,-122.233,2720,8062,0,2015
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,910,1965,0,98136,47.5208,-122.393,1360,5000,0,2014
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,1987,0,98074,47.6168,-122.045,1800,7503,0,2015

In [10]:
df['month_date'] = pd.to_datetime(df['date']).dt.month
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,year_date,month_date
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1955,0,98178,47.5112,-122.257,1340,5650,0,2014,10
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,1951,1991,98125,47.7210,-122.319,1690,7639,40,2014,12
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,1933,0,98028,47.7379,-122.233,2720,8062,0,2015,2
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1965,0,98136,47.5208,-122.393,1360,5000,0,2014,12
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1987,0,98074,47.6168,-122.045,1800,7503,0,2015,2

### 1.4

In [11]:
df.drop(columns = ['date', 'zipcode', 'lat', 'long'], inplace = True)
df.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_date,month_date
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180.0,0,1955,0,1340,5650,0,2014,10
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170.0,400,1951,1991,1690,7639,40,2014,12
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770.0,0,1933,0,2720,8062,0,2015,2
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050.0,910,1965,0,1360,5000,0,2014,12
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680.0,0,1987,0,1800,7503,0,2015,2

## 2 задача
Создайте датафрейм с клиентами:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]})
2.1 Присоедините к таблице clients данные по домам через метод join.
2.2 Присоедините к таблице clients данные по домам через метод merge.
Это нужно, чтобы понимать, какие дома покупались клиентами
house_id - это индексы датафрейма с домами.

In [12]:
clients = pd.DataFrame({'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474], 'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720, 9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025, 1951600150, 809001400, 339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030, 3303980210, 7731100066, 8146100580, 825069097, 3889100029, 9524100196]})

In [13]:
clients.head()

   client_id    house_id
0       1459  8965450190
1       4684  6823100225
2       3498  5104540330
3       3942  2131701075
4       4535  1522700060

### 2.1

In [14]:
clients_id = clients.set_index('house_id')
clients_id.head()

            client_id
house_id
8965450190       1459
6823100225       4684
5104540330       3498
2131701075       3942
1522700060       4535

In [15]:
houseDF_id = df.set_index('id')
houseDF_id.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_date,month_date
id,,,,,,,,,,,,,,,,,,,
7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180.0,0,1955,0,1340,5650,0,2014,10
6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170.0,400,1951,1991,1690,7639,40,2014,12
5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770.0,0,1933,0,2720,8062,0,2015,2
2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050.0,910,1965,0,1360,5000,0,2014,12
1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680.0,0,1987,0,1800,7503,0,2015,2

In [16]:
clients_id.join(houseDF_id).reset_index().head()

,index,client_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_date,month_date
0,339600110,4809,395000.0,3,2.50,1610,3755,2.0,0,0,...,7,1610.0,0,1987,0,1300,3823,0,2014,9
1,809001400,3113,925000.0,3,1.00,1630,3200,1.5,0,0,...,8,1630.0,0,1912,0,1710,3600,0,2014,9
2,825069097,1764,770000.0,3,2.50,2650,40705,2.0,0,0,...,9,2650.0,0,1994,0,2550,42625,0,2014,6
3,1099600250,2242,260000.0,3,1.75,1710,6400,1.0,0,0,...,7,1240.0,470,1976,0,1600,6400,0,2014,12
4,1189000207,2308,387000.0,2,2.50,1170,1394,2.0,0,0,...,8,1170.0,0,2001,0,1250,3136,0,2014,10

### 2.2

In [17]:
merged = clients.merge(df, left_on = 'house_id', right_on = 'id')
merged.head()

,client_id,house_id,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_date,month_date
0,1459,8965450190,8965450190,295000.0,3,2.50,1500,3060,2.0,0,...,7,1500.0,0,1994,0,2700,7734,0,2015,2
1,4684,6823100225,6823100225,700000.0,4,1.75,1870,6000,1.0,0,...,8,1670.0,200,1949,0,1710,6000,0,2015,4
2,3498,5104540330,5104540330,679000.0,4,2.50,3680,7236,2.0,0,...,10,3680.0,0,2006,0,3310,7180,0,2015,5
3,3942,2131701075,2131701075,420000.0,3,1.75,1720,5000,1.5,0,...,8,1720.0,0,1932,2009,1410,8300,77,2014,12
4,4535,1522700060,1522700060,518000.0,4,2.75,2520,14021,2.0,0,...,9,2520.0,0,1999,0,2330,14007,0,2014,6

In [18]:
merged.drop(columns = ['id'], inplace = True)
merged.head()

,client_id,house_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_date,month_date
0,1459,8965450190,295000.0,3,2.50,1500,3060,2.0,0,0,...,7,1500.0,0,1994,0,2700,7734,0,2015,2
1,4684,6823100225,700000.0,4,1.75,1870,6000,1.0,0,0,...,8,1670.0,200,1949,0,1710,6000,0,2015,4
2,3498,5104540330,679000.0,4,2.50,3680,7236,2.0,0,0,...,10,3680.0,0,2006,0,3310,7180,0,2015,5
3,3942,2131701075,420000.0,3,1.75,1720,5000,1.5,0,0,...,8,1720.0,0,1932,2009,1410,8300,77,2014,12
4,4535,1522700060,518000.0,4,2.75,2520,14021,2.0,0,0,...,9,2520.0,0,1999,0,2330,14007,0,2014,6

### 3 задача
Составьте несколько сводных таблиц
3.1 Найдите среднюю стоимость домов в зависимости от количества спален.
Отсортируйте от меньшей стоимости к большей.
3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома.
3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида.
3.4 Каких домов в зависимости от этажности и количества спален больше?
3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома.

### 3.1

In [21]:
grouped_1 = df.groupby('bedrooms')
grouped_1

In [32]:
grouped_1 = df.groupby('bedrooms').agg({'price': ['mean']})
grouped_1

                 price
                  mean
bedrooms
0         4.095038e+05
1         3.176429e+05
2         4.013727e+05
3         4.662321e+05
4         6.354195e+05
5         7.865998e+05
6         8.255206e+05
7         9.511847e+05
8         1.105077e+06
9         8.939998e+05
10        8.193333e+05
11        5.200000e+05
33        6.400000e+05

In [39]:
grouped_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 0 to 33
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   (price, mean)  13 non-null     float64
dtypes: float64(1)
memory usage: 208.0 bytes

In [46]:
grouped_1.sort_index(axis=1)

                 price
                  mean
bedrooms
0         4.095038e+05
1         3.176429e+05
2         4.013727e+05
3         4.662321e+05
4         6.354195e+05
5         7.865998e+05
6         8.255206e+05
7         9.511847e+05
8         1.105077e+06
9         8.939998e+05
10        8.193333e+05
11        5.200000e+05
33        6.400000e+05

### 3.2

In [47]:
grouped_2 = df.groupby('condition').agg({'price': ['max', 'mean', 'min']})
grouped_2

               price
                 max           mean       min
condition
1          1500000.0  334431.666667   78000.0
2          2555000.0  327287.145349   80000.0
3          7062500.0  542012.578148   75000.0
4          7700000.0  521200.390033   89000.0
5          3650000.0  612418.089359  110000.0

### 3.3

In [51]:
grouped_3 = df.groupby(['waterfront', 'view']).agg({'id': ['count']})
grouped_3

                    id
                 count
waterfront view
0          0     19489
           1       331
           2       955
           3       491
           4       184
1          1         1
           2         8
           3        19
           4       135

### 3.4

In [52]:
grouped_4 = df.groupby(['bedrooms', 'floors']).agg({'id': ['count']})
grouped_4

                   id
                count
bedrooms floors
0        1.0        4
         2.0        6
         3.0        2
         3.5        1
1        1.0      162
         1.5       21
         2.0       12
         2.5        1
         3.0        3
2        1.0     1951
         1.5      182
         2.0      497
         2.5        5
         3.0      123
         3.5        2
3        1.0     5455
         1.5      786
         2.0     3118
         2.5       56
         3.0      405
         3.5        4
4        1.0     2383
         1.5      698
         2.0     3682
         2.5       58
         3.0       61
5        1.0      605
         1.5      185
         2.0      775
         2.5       23
         3.0       13
6        1.0      104
         1.5       30
         2.0      119
         2.5       14
         3.0        5
7        1.0        9
         1.5        7
         2.0       19
         2.5        2
         3.0        1
8        1.0        5
         1.5        1
         2.0        6
         3.5        1
9        2.0        4
         2.5        2
10       1.0        1
         2.0        2
11       2.0        1
33       1.0        1

Максимальное количество домов с 3 спальнями и 1 этажом

### 3.5

In [54]:
grouped_5 = df.groupby(['condition', 'grade']).agg({'price': ['median']})
grouped_5

                     price
                    median
condition grade
1         1       142000.0
          4       150000.0
          5       190000.0
          6       255000.0
          7       403500.0
          8       932500.0
2         3       280000.0
          4       145000.0
          5       180000.0
          6       235000.0
          7       305000.0
          8       429000.0
          9       715000.0
          10     1752500.0
3         3        75000.0
          4       205000.0
          5       234475.0
          6       265000.0
          7       357500.0
          8       485000.0
          9       689000.0
          10      890000.0
          11     1209500.0
          12     1807500.0
          13     2888000.0
4         4       238525.0
          5       229975.0
          6       295000.0
          7       390000.0
          8       571250.0
          9       823500.0
          10     1030000.0
          11     1685000.0
          12     2125000.0
          13     5750000.0
5         3       262000.0
          5       227450.0
          6       285475.0
          7       456000.0
          8       696000.0
          9      1078000.0
          10     1650000.0
          11     2050000.0
          12     1990000.0